<div class="sidebar col-xs-3">
	<div class="user_info">
		<h1>User info</h1>
		<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"sidebar-user-img" %>
		<table class="table">
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
			<tr>
				<th>
					<a href="<%= following_user_path(user) %>">
						<strong id="following" class="stat">
							<%= user.following.count %>
						</strong>
						following
					</a>
				</th>
			</tr>
			<tr>
				<th>
					<a href="<%= followers_user_path(user) %>">
						<strong id="followers" class="stat">
							<%= user.followers.count %>
						</strong>
						followers
					</a>
				</th>
			</tr>
		</table>
	<% if user == current_user %>
		<div><%= link_to "", edit_user_path(user.id), class:"btn btn-default glyphicon glyphicon-wrench col-xs-12" %>
		</div>

	<% else %>
		<div class="follow_form">
			<% if current_user.following?(user) %>
			<%= form_for(current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
			<%= f.submit "Unfollow", class: "btn btn-danger col-xs-12" %>
			<% end %>

			<% else %>
			<%= form_for(current_user.active_relationships.build) do |f| %>
			<div><%= hidden_field_tag :followed_id, user.id %>
			</div>
			<%= f.submit "Follow", class: "btn btn-primary col-xs-12" %>
			<% end %>
			<% end %>
		</div>
	<% end %>
	</div>
		<h1 class="new-book-title">New book</h1>
<form method="post" action="<%= books_path %>">
		<input type="hidden" name="authenticity_token" value="<%= session[:_csrf_token] %>">
	<div class="New_book">
	<div class="form-group">
		<label for="book[title]">Title</label>
		<input class="form-control" name="book[title]">
	</div>

	<div class="form-group">

		<label for="book[body]">Opinion</label>
		<textarea class="form-control" name="book[body]">
		</textarea>
	</div>

		<input type="submit" class="col-xs-12 btn btn-primary" value="Create Book">
	</div>
</form>
		

</div>