<div class="page_box">

<% if false %>----ここから---------<% end %>
<div class="sidebar">
	<div class="user_info">
		<h1>User info</h1>
		<div>ユーザーイメージ</div>
		<table>
			<tr>
				<th>name</th>
				<th><%= current_user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= current_user.introduction %></th>
			</tr>
		</table>
		<p>edit</p>
	</div>
		<%= form_for(@post) do |f| %>
	<div class="New_book">
		<p><%= f.label :title,"Title" %></p>
		<p><%= f.text_field :title %></p>

		<p><%= f.label :body,"Opinion" %></p>
		<p><%= f.text_area :body %></p>

		<%= f.submit 'Create Book' %>
		<% end %>
	</div>

</div>
<% if false %>-------ここまで------<% end %>

<div class="users-index">
	<h1>Users</h1>
	<table>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
		</tr>
		<% @user.each do |user| %>
		<tr>
			<td>ユーザーイメージ</td>
			<td><%= user.name %></td>
			<td><%= link_to 'show', user_path(user.id) %></td>
		</tr>
		<% end %>
	</table>
</div>
</div>