<div class="page_box container">
	<div class="row">

	<%= render 'devise/sessions/flash' %>

		<% if flash[:ok] %>
		<p><%= flash[:ok] %></p>
	<% end %>


<% if false %>----ここから---------<% end %>
<%= render 'users/sidebar2', user: @user, post: @post %>
<% if false %>-------ここまで------<% end %>

<main class="col-xs-9">
	<h1>Books</h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
		</tr>
	</thead>
		<% @books.each do |books| %>
		<tr>
			<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
			<td><%= link_to "#{books.title}", book_path(books.id) %></td>
			<td><%= books.body %></td>
		</tr>
		<% end %>
	</table>
<main>
	</div>
</div>

<%= render 'home/footer' %>