<div class="page_box container">
	<div class ="row">
	
	<%= render 'users/sidebar2', user: @user, post: @post %>

	<main class="col-xs-9">
		<h1><%= @title %></h1>
		<% if @users.any? %>
		<table class="table">
		<thead>
			<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
			</tr>
		</thead>
			<% @users.each do |users| %>
			<tr>
				<td><%= attachment_image_tag users, :profile_image,fallback: "no_image.jpg", class: "main_user_img" %></td>
				<td><%= users.name %></td>

			<% if @title == "Following" %>
				<% if @user == current_user %>
				<td><%= form_for(current_user.active_relationships.find_by(followed_id: users.id), html: { method: :delete }) do |f| %>
			<%= f.submit "Unfollow", class: "btn btn-danger col-xs-12" %>
				<% end %>
				</td>
				<% end %>
			<% end %>
			</tr>
			<% end %>

		</table>
		<% end %>
	</main>
	</div>
</div>